table {	
	border: 1px solid black;
}

td:hover {
	background-color: yellow;
	color: black;
}

tr, th {
	background-color: gold;
	color: red;
}

tr, td {
	background-color: red;
	color: gold;
}
